<div *ngIf="countryCodes()" class="container-fluid">
  <div class="row">
    <div *ngFor="let list of cardsList">
      <div class="col-sm-4" style="padding-left:60px">
        <br>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{list.apiName}}</mat-card-title>
            <mat-card-subtitle>{{list.apiClassification}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;padding-left:
          16px ">
            {{list.apiDescription}} </mat-card-content>
          <img mat-card-image [src]="list.imageURL">
          <mat-card-actions style="padding-left:50px;padding-inline: 10px">
            <button mat-button (click)="diaplayDescription(list.apiName, list.MuleApi)">Details</button>

          </mat-card-actions>
          <div *ngIf="list.muleApi" style="margin-left: 125px;
          padding-bottom: 39px;
          margin-top: -20px;
      ">
            <img mat-card-image [src]="fullImagePath"></div>
          <!-- <mat-card-footer  style='padding-left : 90px'>

            
          </mat-card-footer> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!countryCodes()" class="container-fluid">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <br>
      <div *ngFor="let list of cardsList">
        <div *ngIf="list.apiName == cardClicked">
          <p style="padding-left:250px">
            {{list.apiLongDescription}}
          </p>
          <a style="padding-left:350px"  *ngIf="list.muleApi" [href]="this.url" target="_blank">
            <button  mat-raised-button >Go To API</button>
          </a>

        </div>
      </div>
    </div>
  </div>