<div *ngIf="countryCodes()" class="container-fluid">
  <div class="row">
    <div *ngFor="let list of cardsList">
      <div class="col-sm-5" style="padding-left:250px">
        <br>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{list.apiName}}</mat-card-title>
            <mat-card-subtitle>{{list.apiClassification}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content style="overflow:hidden">
            {{list.apiDescription}} </mat-card-content>
          <img mat-card-image [src]="list.imageURL">
          <mat-card-actions style="padding-left:50px">
            <button class="btn btn-link " mat-button (click)="diaplayDescription(list.apiName, list.isMuleApi)">Details</button>
          </mat-card-actions>
          <mat-card-footer *ngIf="list.isMuleApi" style='padding-left : 127px'>

            <img class="icon" mat-card-image [src]="fullImagePath">
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!countryCodes()" class="container-fluid">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <br>
      <div *ngFor="let list of cardsList">
        <p *ngIf="list.apiName == cardClicked" style="padding-left:250px">
          {{list.apiLongDescription}}
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <a *ngIf="isMuleApi"  [href]="this.url" target="_blank">
        <button  mat-raised-button >Go To API</button>
      </a>
      <div class="col-sm-3"></div>
    </div>
  </div>