
// .btn-block{
//   background-color: #252725;
//   display: block;
//   width: 33%;
//   padding: 15px 32px;
//   font-size: 16px;
//   border-color: transparent;
// }

.mat-card-image{
  
width: 64px;
height: 47px;
margin: -5px 47px 34px 112px;
}
.mat-card-image:first-child {
  margin-top: -16px;
}
// .mat-card-content[_ngcontent-c5] {
// box-sizing: border-box;
// font-size: small;
// }
.mat-card {
  background: white;
  display: block;
  width: 315px;
  height: 303px;
}
.mat-card-title {
font-size: 19px;
}

img {
border-radius: 50%;

}
// .mat-card-image{
//   width: 51px;
//   height: 42px;
//   margin: -5px 47px 34px 112px;
// }
.mat-card-header .mat-card-subtitle {
  margin-top: -8px;
  font-size: smaller;
}
.mat-card-content {
  box-sizing: border-box;
  font-size: small;
}
// .mat-card-content{
//   font-size: 14px;
//   height: 50px;
// }
// .mat-card-image {
//    width: 64px;
//   height: 47px;
//  margin: 9px -82px 0px 56px;

// }
.mat-card-actions {
margin-left: 52px;
}


.mat-card:hover{
box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

 .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
opacity: 100;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}