html,
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #fcfcfc;

    background-color:#bfbebe;
}


.main-container {
    //position: absolute;
    top: 64px;
    //left: 250px;
    right: 0;
    bottom: 0;
    padding-top: 5%
}

.lbuttons {
   // position: absolute;
    bottom: 20px;
    left: 40px; 
    margin-bottom: 20px;
    padding-left:20%;
    padding-top:3%;
}
.mb-20-top {
    margin-top: 120px;
}
