<mat-toolbar style="background:black" class="fix-nav">
    <div class="nav-brand">
        <img
            src="assets/images/deloitte_logo.png"
            style="height:35px;margin-top:15px"
        />
    </div>

    <h1 style="color:whitesmoke; margin:0 auto">
        Health Plans Development Hub
    </h1>

    <div class="nav-icons-div" style="padding:15px 0">
        <form class="form-inline mr-auto">
            <input
                class="form-control mr-sm-2"
                type="text"
                placeholder="Search"
                aria-label="Search"
            />
        </form>
    </div>
</mat-toolbar>


