
   <div >
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div>
<div class="navbar navbar-inverse navbar-fixed-left">
  <ul class="nav navbar-nav">
    <div>
  <button type="button" (click)="selectedValue('claims')" class="btn btn-primary btn-block">Claims</button>
      

    <button type="button"  (click)="selectedValue('member')" class="btn btn-primary btn-block">Members</button>
    
    <button type="button"  (click)="selectedValue('provider')" class="btn btn-primary btn-block">Providers</button>
  
    <button type="button" (click)="selectedValue('')" class="btn btn-primary btn-block">Manage Medical Costs </button>
    
    <button type="button" (click)="selectedValue('')" class="btn btn-primary btn-block">Improve Quality of Care</button>
  
    <button type="button" (click)="selectedValue('')" class="btn btn-primary btn-block">Setup Products & Benefits</button>

    <button type="button" (click)="selectedValue('')" class="btn btn-primary btn-block">Manage Billings</button>

    <button type="button" (click)="selectedValue('')" class="btn btn-primary btn-block">Accounts Receivables</button>
 
   <div style="padding:30px;font-size: 1.1em">
    <a href="http://healthinnovationhub.s3-website-us-east-1.amazonaws.com/" style="color:whitesmoke; " class="w3-btn w3-black">Product Development Innovation Hub</a>
  </div>
   
    <!-- <button type="button" (click)="selectedValue('claims')" class="btn btn-primary btn-block">Manage Billings & Accounts Receivables</button>
    <br>
    <button type="button" (click)="selectedValue('claims')" class="btn btn-primary btn-block">Manage Billings & Accounts Receivables</button>
    <br> -->

    </div>
  </ul>
</div>

<div class="container">
  <div class="row">
    
    <app-charts *ngIf="displayComponent=='provider' " [cardsList]="newCardsList" ></app-charts>
    <app-charts *ngIf="displayComponent=='member'"  [cardsList]="newCardsList" ></app-charts>
    <app-charts *ngIf="displayComponent=='claims'" [cardsList]="newCardsList" ></app-charts>
  

</div>
</div>
</div>
</div>
